/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 定义 CSS 变量和其他全局样式 */
:root {
  --background-color: #fff;
  --card-background-color: #fff;
  --card-border-color: #ccc;
  --font-color: #000;
  --hover-border-color: #0070f3;
  --icon-color: #000;
}

[data-theme="dark"] {
  --background-color: #1a1a2e;
  --card-background-color: #162447;
  --card-border-color: #1f4068;
  --font-color: #e0e0e0;
  --hover-border-color: #00aaff;
  --icon-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

.card {
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  color: var(--font-color);
}

.card:hover {
  border-color: var(--hover-border-color);
}

button {
  color: var(--font-color);
}

/* 图标样式 */
.icon {
  fill: var(--icon-color);
}
